<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
 
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <link rel="icon" type="image/ico" href="{{ theme_url }}/pics/favicon.ico" /> 
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>
    {{googletrackingcode}}
	<header id="header">
		<div class="inner clearfix">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			<ul class="nav">
                {% for page in pages %}
                    {% if not page.date and page.title != "Welcome" %} 
                        <!-- <li><a href="sub/about">About</a></li> -->
                        <!-- <li><a href="sub/snippets">Snippets</a></li> -->
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
			</ul>
		</div>
	</header>

    <section id="content">
    <div id="posts">
		<div class="inner">
    {% if is_front_page %} <!-- Front page lists all blog posts -->
       
        {% for page in pages %}
            {% if page.date %} <!-- Note we check for Date field (posts) here -->
            <div class="post">
                <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                <div class="tags"> <!-- display page tags with proper urls -->
                    {% for tag in page.tags %}
                        <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </div>

                <p class="meta">{{ page.date_formatted }}</p>
                <p class="excerpt">{{ page.description }}</p>
            </div>
            {% endif %}
        {% endfor %}

    {% else %} <!-- Single page shows individual blog post -->

    <div class="post">
        {% if meta.title and meta.title != "About" %}<h2>{{ meta.title }}</h2>{% endif %}
        <div class="tags"> <!-- display single page tags with proper urls -->
            {% for tag in meta.tags %}
                <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% if page.date %}<p class="meta">{{ meta.date_formatted }}</p>{% endif %}
        {{ content }}
    </div>

    {% endif %}  
        </div>
    </div>
    </section>
    
	<footer id="footer">
		<div class="inner">
            Powered by <a href="http://pico.dev7studios.com">Pico</a>
            - 
            Get the Source code <a href="https://github.com/pschmitt/schmitt.co">@GitHub</a>
		</div>
	</footer>
    
</body>
</html>
